{% extends "web/layout.html" %}
{% load static %}

{% block header %} {% endblock %}

{% block content %}

    <div class="title-bar">
        <h1 class="title-bar-title">
            <span class="d-ib">编辑</span>
            <span class="d-ib">
            <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body"
               data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right"
               data-toggle="tooltip">
                <span class="sr-only">Add to shortcut list</span>
            </a>
        </span>
        </h1>
    </div>
    <div class="row" style="color: black;">
        <div class="col-md-6 col-md-offset-3">
            <div class="demo-form-wrapper">
                <form id="form_input" data-toggle="validator">
                    <div class="form-group">
                        <label for="ip" class="control-label">ip</label>
                        <input id="ip" class="form-control" type="text" name="ip" value="{{ machine.ip }}" disabled>
                    </div>

                    <div id="div_os_type" class="form-group custom-controls-stacked">
                        <label for="type" class="control-label">操作系统</label>
                    </div>

                    <div class="form-group">
                        <label for="tag" class="control-label">标签</label>
                        <select id="tagSelect" name="tag" class="custom-select">

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="status" class="control-label">机器状态</label>
                        <select id="statusSelect" name="status" class="custom-select">
                            <option value="1">空闲</option>
                            <option value="2">使用中</option>
                            <option value="3">停机维护</option>
                        </select>
                    </div>

                    <div class="form-group user-form-control" hidden>
                        <label for="user" class="control-label">使用人</label>
                        <input id="user" name="user" class="form-control" value="{{ machine.user }}">
                    </div>

                    <div class="form-group">
                        <label for="biography-1" class="control-label">备注（不超过50个字）</label>
                        <textarea id="description" class="form-control" name="description" maxlength="50" required>{{ machine.description }}</textarea>
                        <small class="help-block">简单描述下这个机器</small>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block tail %}

    <script>
        var mid = {{ machine.id }};
        var type = {{ machine.type }};
        var status = {{ machine.status }};
        var tags = {{ machine.tag }};

        $("#statusSelect").find("option[value= {{ machine.status }}]").attr("selected",true);
        $("#statusSelect").change(function(){
            var v = $(this).val();
            userShow(v);
        });

        function userShow(v) {
            if (v == '2') {
                $('.user-form-control').show();
                $('#user').attr("required", "required");
            }else{
                $('.user-form-control').hide();
                 $('#user').removeAttr("required");
            }
        }
        userShow(status);
        var b = $("#form_input");
        /* 初始化系统类型选项 */
        $.ajax({
            url: '/web/api/v1/os/',
            type: 'GET',
            success: function (res, status, xhr) {
                var objects = res.objects;
                objects.forEach(function (value, index, array) {
                    var checked = "";
                    if (value.id==type){
                        checked = "checked";
                    }
                    var label = '<label class="custom-control custom-control-primary custom-radio">'+
                            '<input class="custom-control-input" type="radio" name="type" value="'+value.id+'" required '+checked+'>'+
                            '<span class="custom-control-indicator"></span>'+
                            '<small class="custom-control-label">'+value.name+'</small>'+
                        '</label>';

                    $('#div_os_type').append(label);
                });

            }
        });

        /* 初始化标签选项 */
        $.ajax({
            url: '/web/api/v1/tag/',
            type: 'GET',
            success: function (res, status, xhr) {
                var objects = res.objects;
                objects.forEach(function (value, index, array) {
                    var selected = "";
                    if (value.id == tags){
                        selected = "selected"
                    }
                    $('#tagSelect').append("<option value='"+value.id+"' "+selected+">"+value.name+"</option>")
                });

            }
        });

        b.submit(function (e) {
            e.preventDefault();
            $(this).validate();
            var dataArray = $(this).serializeArray();
            var data = {};
            dataArray.forEach(function (val, index, array) {
                data[val.name] = val.value
            });
            if ($(this).valid()) {

                $.ajax({
                    url: '/web/api/v1/machine/'+mid+'/',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success: function (res, status, xhr) {
                            layer.msg('更新成功', {time: 700}, function () {
                                window.location.href = "/web/machine/index.html";
                            });
                    }
                });
            }
        })
    </script>
{% endblock %}